<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
  <config>
    <add key="auditLevel" value="high" />
    <add key="nugetAudit" value="true" />
    <add key="nugetAuditMode" value="all" />
  </config>
</configuration>